.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
}

.toggle__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0.25rem;
  color: var(--label-color)
}

.toggle__switch {
  --width: 2.25rem;
  --height: 1.25rem;
  --border-radius: 0.75rem;
  cursor: pointer;
}

.toggle__switch__input {
  display: none;
}

.toggle__switch__handle {
  --handle-width: 0.875rem;
  --handle-height: 0.875rem;
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: var(--toggle-unchecked);
  transition: background 0.2s;
}

.toggle__switch__input:checked ~ .toggle__switch__handle {
  background: var(--toggle-checked);
}

.toggle__switch__handle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  height: var(--handle-height);
  width: var(--handle-width);
  background: #ffffff;
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__switch__input:checked ~ .toggle__switch__handle::after {
  transform: translateX(1rem) translateY(-50%);
}
