.options {
  width: 20rem;
  margin-top: 1rem;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

.options > li {
  list-style-type: none;
  margin: 0.25rem 0;
}


.option__type {
  cursor: pointer;
}

.type__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

fa-icon {
  margin: 0 0.5rem;
}

.type__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  border: 2px solid transparent;
  border-radius: 0.75rem;
  color: var(--inactive-button-color);
}

.option__type__active {
  border: 2px solid var(--border-focus-color);
  color: var(--active-button-color) !important;
  background: var(--active-button-background);
}

.type__action:hover {
  border: 2px solid var(--border-focus-color);
  color: var(--active-button-color) !important;
  background: var(--active-button-background);
}
