$border-color: #d0d5dd;
$border-focus-color: #a7c9f9;
$light-border-color: #dee2e7;
$toggle-checked: #1570ef;
$toggle-unchecked: #c3c3c3;
$flags-divider-color: #f4f5f7;
$badge-color: #363F47;
$badge-text-color: #FCFCFD;
$add-color: #175CD3;
$survey-title-color: #101828;
$survey-subtitle-color: #344054;
$text-color: #182230;
$label-color: #344054;
$active-button-color: #175CD3;
$inactive-button-color: #344054;
$active-button-background: #F5FAFF;
$inactive-button-background: #F5FAFF;
$navbar-background: #175CD3;
$navbar-color: #F5FAFF;
