  <main>
    <section class="survey">
      <header class="survey__header">
        <h1 class="survey__title">Urban Mobility Trends and Preferences</h1>
        <p class="survey__subtitle">
          Share your travel experiences and help us design better transportation systems for everyone
        </p>
      </header>
      @for ( question of questions; track question; let questionIdx = $index) {
        <div class="survey__question__container">
          <empathy-question-form [question]="question"/>
        </div>
      }

      <div class="survey__add__row">
        <button class="survey__add__row__button"  (click)="showQuestionTypeSelect()">
          + Add question
        </button>
        <div class="overlay" #trigger></div>
        @if(showAddQuestion) {
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="showAddQuestion"
          >
            <empathy-question-type-select />
          </ng-template>
        }
      </div>
    </section>
  </main>
