  <main>
    <section class="survey">
      <header class="survey__header">
        <form action="" [formGroup]="surveyForm">
          <input type="text" class="survey__title" formControlName="title"/>
          <input type="text" class="survey__subtitle" formControlName="description"/>
        </form>
      </header>
      @for ( question of survey?.questions; track question; let questionIdx = $index) {
        <div class="survey__question__container">
          <empathy-question-form
            [question]="question"
            [index]="questionIdx+1"
            (update)="updateSurveyQuestions(questionIdx, $event)"
          />
        </div>
      }
      @if (survey?.questions?.length === 0) {
        <div class="survey__question__container">
          <p class="empty__warning">Start by adding a question to the survey</p>
        </div>
      }

      <div class="survey__add__row">
        <button class="survey__add__row__button"  (click)="showQuestionTypeSelect()">
          <fa-icon [icon]="faPlus"></fa-icon> Add question
        </button>
        @if(showAddQuestion) {
          <div class="overlay" #trigger></div>
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="showAddQuestion"
            (overlayOutsideClick)="closeAddQuestionOverlay()"
            (detach)="closeAddQuestionOverlay()"
            cdkConnectedOverlayPush="true"
          >
            <empathy-question-type-select
            (completed)="addQuestion($event)"
            />
          </ng-template>
        }
      </div>
    </section>
  </main>
